{% extends "base.html" %}
{% block head %}
  <title>Brownie Recipe</title>
  <link rel="stylesheet" type="text/css" href="static/styleHTMLCSS.css"/>
{% endblock %}

{% block body %}
    <h1 class="shadow">Bupama's Brownies</h1>
    <p>Click <a href="https://docs.google.com/document/d/1f7zIKBrNzaXfMQmMWPb-tX1nNo1iEgXgLTBtZuR6gjo/edit?usp=sharing">here</a> to go to the google doc.</p>
    <img src="http://thedailydish.us/images/denverpuddingcake.jpg" alt="Brownies" width=400 id="brownie-image"/>

    <hr/>
    <h2>Ingredients</h2>
    <table>
      <tr>
        <th>Amount</th>
        <th>Ingredient</th>
      </tr>
      <tr>
        <td>2 oz</td>
        <td>unsweetened chocolate, chopped</td>
      </tr>
      <tr>
        <td>1/2 cup</td>
        <td>unsalted butter</td>
      </tr>
      <tr>
        <td>1 1/3 cups</td>
        <td>granulated sugar</td>
      </tr>
      <tr>
        <td>1 cup</td>
        <td>flour</td>
      </tr>
      <tr>
        <td>1 1/2 tsp</td>
        <td>baking powder</td>
      </tr>
      <tr>
        <td>1/2 tsp</td>
        <td>salt</td>
      </tr>
      <tr>
        <td>1/2 cup</td>
        <td>milk</td>
      </tr>
      <tr>
        <td>1 tsp</td>
        <td>vanilla</td>
      </tr>
      <tr>
        <td>1/2 cup</td>
        <td>firmly packed brown sugar</td>
      </tr>
      <tr>
        <td>3 rounded tbsp</td>
        <td>unsweetened cocoa</td>
      </tr>
      <tr>
        <td>1 1/4 cups</td>
        <td>boiling water</td>
      </tr>
    </table>
    <hr/>
    <h2 class="underline">Baking Tips</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hsXMUcNWwlE"></iframe>
    <hr/>
    <h2>Instructions</h2>
    <ol class="center-list">
      <li>Preheat the oven to 350 F.</li>
      <li>Melt chocolate in a heatproof bowl or in a double boiler.</li>
      <li>Stir until fully melted and smooth, and let cool slightly.</li>
      <li>Mix butter and half the sugar with an electric mixer until light and fluffy.</li>
      <li>Then sift flour, baking powder, and salt together.</li>
      <li>Then add sifted ingredients and milk into the butter mixture.</li>
      <li>Then use a mixer on low speed until well mixed.</li>
      <li>Use a rubber spatula and fold the chocolate and half the vanilla in.</li>
      <li>Butter and pan and evenly spread the batter inside.</li>
      <li>Stir the remaining sugars and cocoa together and sprinkle it over the batter.</li>
      <li>Add the vanilla to the water and pour slowly over the batter.</li>
      <li>Cook for about 1 hour.</li>
    </ol>

    <p>Makes about 16 brownies.</p>

    <h2 id="enjoy" class="shadow">Enjoy!</h2>
{% endblock %}