{% extends "base.html" %}

{% block head %}
  <title>Home page</title>
  <link rel="stylesheet" type="text/css" href="static/stylePython.css"/>
{% endblock %}

{% block body %}

  <h1>Home Page</h1>
  <a href="PythonFactorial">Link to factorial page</a>

  <p>myVar = {{myVar}}</p>
  {% for i in myList %}
    <p>Letter: {{i}}</p>
  {% endfor %}

  {% for iteration in range(0, 10) %}
    {% if iteration < 5 %}
      <p>Small number: {{iteration}}</p>
    {% else %}
      <p>Large number: {{iteration}}</p>
    {% endif %}
  {% endfor %}

{% endblock %}