{% extends "base.html" %}
{% block head %}
<title>Hello World Page</title>
{% endblock %}

{% block body %}
<!-- This is how you write a comment -->
<p>Hello, world! I'm valid HTML!</p>
<ul>
    <li>This</li>
    <li>is a</li>
    <li>list</li>
</ul>
<div>
  <ol>
    <li>This</li>
    <li>is an</li>
    <li>ordered</li>
    <li>list</li>
  </ol>
</div>

  <table>
    <tr>
      <th>1</th>
      <th>2</th>
    </tr>
    <tr>
      <td>This</td>
      <td>is</td>
    </tr>
    <tr>
      <td>a</td>
      <td>table</td>
    </tr>
  </table>
  <div>
    <p>this is a divider</p>
  </div>
  <p>I can use &lt;brackets&gt;</p>
  <p>This is a <span>span</span></p>
  <img src="static/Oreo2.jpg" alt="Oreo" width="500" height="600">
{% endblock %}
